* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}
div#main {
    width: 50%;
    margin: auto;
    text-align: center;
}
form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
div.form-inputs-parent {
    padding: 0.5rem;
}

div input.form-input {
    padding: 0.3rem;
}
